.font-biryani {
    font-family: 'Biryani';
    line-height: normal;
}

.font-biryani-bold {
    font-family: 'Biryani';
    font-weight: 700;
    line-height: normal;
}

.font-biryani-black {
    font-family: 'Biryani';
    font-weight: 900;
    line-height: normal;
}

#hero {
    background-color: #fcfcfc;
    width: 100%;
    overflow: hidden;
}

#services {
    background-color: #fcfcfc;
}

#pricing {
    background-color: #fcfcfc;
}

.btn-hero {
    background-color: #282d33;
    border-radius: 50px;
    color: white;
    padding: 15px 35px 10px 35px;
}

.btn-hero:focus {
    box-shadow: none;
}

.btn-hero:hover {
    color: white;
    background-color: #16171a;
}

.bg-spray {
    background-color: #74d5de;
}

.bg-turqoise {
    background-color: #56cad8;
}

.text-spray {
    color: #74d5de;
}

.text-turqoise {
    color: #56cad8;
}

.border-spray {
    border-color: #74d5de;
}

.border-turqoise {
    border-color: #56cad8;
}

.btn-spray {
    background-color: #74d5de;
    border-radius: 50px;
    color: white;
    padding: 10px 35px 10px 35px;
}

.btn-spray:focus {
    box-shadow: none;
}

.btn-spray:hover {
    background-color: #56cad8;
    color: white;
}

.input-spray:focus {
    border-color: #74d5de;
    box-shadow: none;
}

.input-subscribe {
    border-bottom-left-radius: 50px !important;
    border-top-left-radius: 50px !important;
}

.btn-subscribe {
    background-color: #74d5de;
    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
    color: white;
}

.btn-subscribe:focus {
    box-shadow: none;
}

.btn-subscribe:hover {
    background-color: #56cad8;
    color: white;
}

.navbar-toggler-borderless {
    box-shadow: none !important;
}

ul > li > a {
    color: #74d5de;
}

ul > li > a:hover {
    color: #56cad8;
}

